{% extends "layouts/base-template.html" %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}

{% block scripts %}
{% endblock %}

{% block content %}

<style>
  button {
    width: 75px;
    height: 35px;
    margin-top: -20px;
  }
</style>

<div id="mainContent">
  <div class="row gap-20 masonry pos-r">
    <div class="masonry-sizer col-md-6"></div>
    <div class="masonry-item col-md-6">
      <div class="bgc-white p-20 bd">
        {% if form.password %}
        <h2 class="c-grey-900">Add new User</h2>
        {% elif user %}
        <h2 class="c-grey-900">Edit User</h2>
        {% else %}
        <h2 class="c-grey-900">Invite new User</h2>
        {% endif %}
        {% set flashes = {
        'error': get_flashed_messages(category_filter=['form-error']),
        'warning': get_flashed_messages(category_filter=['form-check-email']),
        'info': get_flashed_messages(category_filter=['form-info']),
        'success': get_flashed_messages(category_filter=['form-success'])
        } %}
        <div class="mT-30">
          {{ f.begin_form(form, flashes) }}
          <div class="form-row">
            {% if user %}
            {{ f.render_form_field(form.role, extra_classes='form-group col-md-12', value=user.role) }}
            {% else %}
            {{ f.render_form_field(form.role, extra_classes='form-group col-md-12') }}
            {% endif %}
            {% if user %}
            {{ f.render_form_field(form.first_name, extra_classes='form-group col-md-6', value=user.first_name) }}
            {% else %}
            {{ f.render_form_field(form.first_name, extra_classes='form-group col-md-6') }}
            {% endif %}
            {% if user %}
            {{ f.render_form_field(form.last_name, extra_classes='form-group col-md-6', value=user.last_name) }}
            {% else %}
            {{ f.render_form_field(form.last_name, extra_classes='form-group col-md-6') }}
            {% endif %}
            {% if user %}
            {{ f.render_form_field(form.email, extra_classes='form-group col-md-12', value=user.email) }}
            {% else %}
            {{ f.render_form_field(form.email, extra_classes='form-group col-md-12') }}
            {% endif %}
            {% if form.password %}
              {{ f.render_form_field(form.password, extra_classes='form-group col-md-6') }}
              {{ f.render_form_field(form.password2, extra_classes='form-group col-md-6') }}
            {% endif %}
          </div>
          {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
          {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
          {{ f.form_message(flashes['info'], header='Information', class='info') }}
          {{ f.form_message(flashes['success'], header='Success!', class='success') }}
          <br>
          {#{{ f.render_form_field(form.submit) }}#}
          <button type="submit" class="btn btn-primary d-flex justify-content-center d-md-table mx-auto">
            Submit
          </button>
          {{ f.end_form() }}
          {% if form.password %}
            {{ check.password_check('password', 0) }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
